<%= form_for @article, :url => articles_path(@article) do |f| %>
    <div class="field">
    <%= f.text_field :label, placeholder: "Header.." %>
    <%= f.text_area :body, placeholder: "New article.." %>
  </div>
  <%= f.submit "OK", class: "btn btn-large btn-primary" %>
<% end %>
